@import "@/styles/config/mixins";
@import "@/styles/pages/mixins";

.home,
.privacy-policy {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	gap: 36px;
}

.privacy-policy {
	justify-content: flex-start;
	padding: var(--head-height) 24px 24px;

	article {
		@include markdown-styles;
	}
}

.home-page {
	width: 100%;
	padding: 0 0.5rem;

	&-col {
		gap: 24px;
		flex-direction: column;
	}
}
