@import "@/styles/config/mixins";
@import "../mixins";

.home-profile {
	@include home-tile;

	&-header {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;

		&__name {
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&-btn {
		width: 100%;
	}
}
