@import "@/styles/config/mixins";
@import "../mixins";

.home-friends {
	@include home-tile;

	&-header {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&-btn {
		width: 100%;
	}
}
