@import "@/styles/config/mixins";

.home-friends {
	width: 100%;
	border-radius: var(--border-radius);
	background-color: var(--accent-color-100);
	padding: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 24px;

	@include _theme(dark) {
		background-color: var(--accent-color);
	}

	&-header {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&-btn {
		width: 100%;
	}
}
